<!-- The example view -->
<section ng-controller="HomeController" data-ng-init="init()">
	<div ng-include="'lib/partial/menu.html'"></div>

	<!-- Page Content -->
	<div class="container menuTop">

		<!-- Jumbotron Header -->
		<header class="jumbotron my-4">
			<h1 class="display-3">Mean Stack</h1>
			<p class="lead">This is mean stack archetype</p>

			<ul>
				<li><div>Authentication with Passport (Local, Google, Facebook)</div></li>
				<li><div>Group Chat with Soket.io</div></li>
				<li><div>Mail service with SendGrid</div></li>
				<li><div>CRUD operation on MongoDB with Mongoose</div></li>
				<li><div>Google Maps api with MongoDB geospatial query</div></li>
				<li><div>Handle different environment Development, Test, Production</div></li>
				<li><div>Windows SET NODE_ENV=development or production or test</div></li>
				<li><div>Unix export NODE_ENV=development or prodution or test</div></li>
			</ul>

			<p class="lead">Configuration</p>

			<ul>
				<li><div>Handle different environment Development, Test, Production</div></li>
				<li><div>Windows SET NODE_ENV=development or production or test</div></li>
				<li><div>Unix export NODE_ENV=development or prodution or test</div></li>
				<li><div>Change environment variable development.js | production.js | test.js for passport connection db and sendgrid</div></li>
			</ul>

			<!--a href="#" class="btn btn-primary btn-lg">Call to action!</a-->
		</header>

		<!-- Page Features -->
		<div class="row text-center">

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<!--img class="card-img-top" src="http://placehold.it/500x325" alt=""-->
					<div class="card-body">
						<h4 class="card-title">1) MongoDB</h4>
						<p class="card-text">Install MongoDB the defauld database will be Mymean1</p>
					</div>
					<div class="card-footer">
						<a href="https://www.mongodb.com/" class="btn btn-primary">Mongodb</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<!--img class="card-img-top" src="http://placehold.it/500x325" alt=""-->
					<div class="card-body">
						<h4 class="card-title">Node.js</h4>
						<p class="card-text">install Node.js on your pc</p>
					</div>
					<div class="card-footer">
						<a href="https://nodejs.org" class="btn btn-primary">Node.js</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<!--img class="card-img-top" src="http://placehold.it/500x325" alt=""-->
					<div class="card-body">
						<h4 class="card-title">Express.js</h4>
						<p class="card-text">npm install express --save</p>
					</div>
					<div class="card-footer">
						<a href="https://expressjs.com" class="btn btn-primary">Express.js</a>
					</div>
				</div>
			</div>

			<div class="col-lg-3 col-md-6 mb-4">
				<div class="card">
					<!--img class="card-img-top" src="http://placehold.it/500x325" alt=""-->
					<div class="card-body">
						<h4 class="card-title">Angular 1.6.6</h4>
						<p class="card-text">this archetype use Angular 1</p>
					</div>
					<div class="card-footer">
						<a href="https://angular.io/" class="btn btn-primary">Angular</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white menuTop">Copyright &copy; Your Website 2017</p>
		</div>
		<!-- /.container -->
	</footer>


</section>
