<!-- The article view -->
<section data-ng-controller="MapController">
  <div ng-include="'lib/partial/menu.html'"></div>
  <div class="container menuTop">
    <!-- Header Menu. Note use of headerCtrl -->
    <!-- Map and Side Panel -->
    <div class="container menuTop">
      <!-- Google Map -->
      <div class="row">
        <div class="col-xs-6" id="mapContainer">
          <div class="loader"></div>
          <div id="map"></div>
        </div>

        <div class="col-xs-4 col-xs-offset-1">
          <!-- Find Teammates (Query) Form -->

          <!-- Creates Main Panel -->
          <div class="panel panel-default">

            <!-- Panel Title -->
            <div class="panel-heading">
              <h2 class="panel-title text-center"> Look Around <span class="glyphicon glyphicon-search"></span></h2>
            </div>

            <!-- Panel Body -->
            <div class="panel-body">

              <!-- Creates Form -->
              <form name="queryForm">

                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                  <label for="latitude">Your Latitude</label>
                  <input type="text" class="form-control" id="latitude" placeholder="39.5" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                  <label for="longitude">Your Longitude</label>
                  <input type="text" class="form-control" id="longitude" placeholder="-98.35" ng-model="formData.longitude" readonly>
                </div>
                <div class="form-group">
                  <label for="distance">Max. Distance (km)</label>
                  <input type="text" class="form-control" id="distance" placeholder="500" ng-model="formData.distance">
                </div>

                <!-- Query button. Note that its tied to queryUsers() function from queryCtrl.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="queryArticles()">Search</button>
              </form>
            </div>

            <!-- Footer panel for displaying count. Note how it will only display if queryCount is greater than 0 -->
            <div ng-show="queryCount>0" class="panel-footer">
              <p class="text-center">Hot Dang! We Found {{queryCount}} Teammates.</p>
            </div>
          </div>
        </div>
        <!-- Footer -->
        <div class="footer">
        </div>
      </div>


    </div>

</section>
